<div class="fill">
  <div class="container">
    <h3><%= link_to "Promotion Product", root_path %></h3>
    <ul class="nav secondary-nav">
        <li><a href="#">tes</a></li>
    </ul>
  </div>
</div> <!-- /fill -->